.dialog-ExibeSonho{
    position:relative;
}
.dialog-ExibeSonho h1{
    float:left;
}
.dialog-ExibeSonho button{
    float:right;
}
div{
    clear:both;
}
.btn-report{
    margin-left: auto !important;
}