.dialog-ExibeSonho{
    position:relative;
    max-height: 600px;
}
.dialog-ExibeSonho h1{
    float:left;
}
.dialog-ExibeSonho button{
    float:right;
}
.mat-dialog-content{
overflow: hidden;
}
div{
    clear:both;
}
.btn-report{
    margin-left: auto !important;
}
/* --------- alterando cor de elemento Angular ------------ */
.mat-report{
    color: #ffbf00;
}



.div-sonho{
    margin-top: 20px;
    overflow: hidden;
}
.div-sonho p{
    text-align: center;
    font-size: larger;
    font-weight: bold;
    margin: 10px 0 30px 0;
    font-family: 'Roboto';
}
.fullWidth-trilha {
    position: relative;
    width: 95%;
    /* border: 1px dashed rgba(211, 202, 202, 0.521);
    border-radius: 10px; */
    margin-top: 20px;
    margin-left: auto;
    margin-inline: auto;
    padding: 0 10px 0 10px;
}
h1{
    font-size: small;
    margin: 5px 0 5px 0;
    font-weight: bold;
    font-variant: traditional;
    text-transform: capitalize;
    color: #1f367c;
}
h2 {
    font-size: large;
    margin: 5px 0 10px 0;
    margin-left: 45%;
    font-weight: bold;
    font-variant: all-petite-caps;
    color: #808080;
}
hr{
    margin-top:10px;
    margin-bottom: -10px;
    border-color: rgba(0, 128, 128, 0.308);
    
}
.overflow {
    overflow-y: auto;
    max-height: 220px;
    position: relative;
}
div ::-webkit-scrollbar{
    width: 20px; 
       
}
div ::-webkit-scrollbar-track{
    border-radius: 20px;
     background: rgba(74, 125, 219, 0.473);
}
div ::-webkit-scrollbar-thumb{
    border-radius: 20px;
    background: rgb(43, 59, 153);
}
.dialog-itens{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.dialog-itens button{
   margin:5px 0 5px 0;
   color: #808080;
  
}
.span-itens{
    vertical-align: -webkit-baseline-middle;
}
