<div class="dialog-ExibeSonho">
<h1 mat-dialog-title>
    {{sonho.nomeSonhador}}
</h1>
<button mat-mini-fab color="primary" matTooltip="Oferecer ajuda">
  <mat-icon>
    <span class="material-icons-outlined">volunteer_activism</span>
  </mat-icon>
</button>
</div>
<div mat-dialog-content>
  <div>
    <h2>Sonho:</h2>
    {{sonho.descricaoSonho}}
  </div>
  <div *ngIf="sonho.HaTrilha">
    <h2>Trilha:</h2>
    <div *ngFor="let item of sonho.trilha">
      <p>{{item.descricao}}</p> 
    </div>
  </div>
</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close>Fechar</button>
</div>
