.mtoolbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  background-color: #1976d2;
  color: white;
  font-weight: 600;
}

.logo{
  height: 102px;
  margin-top: 20px;
}

.divtitle{
  width: 200px;
  /* display: inline; */
}

p{
  margin: 0px;
  padding: 0px;
  display: inline;
}

.inline{
  display: inline;
}

.button{
  padding: 6px 20px;
  border-radius: 10px;
}
.mat-btn-MeusSonhos{
  color: #1976d2;
}

.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.rightNav{
  margin: auto 0px;
  float: right;
}

.boxUser{
  /* display: inline; */
  width: 80px;
  height: 60px;
}

.grid {
	display: grid;
}

.a {
	grid-area: a;
  align-self: center;
  padding-left: 16px;
}

.b {
	grid-area: b;
  text-align: right;
  align-self: center;
  padding-right: 16px;
}

.grdPhoto {
  grid-area: grdPhoto;
  text-align: center;
}

.grdUser {
  grid-area: grdUser;
  text-align: center;
}

.grid-template-areas-1 {
    grid-template-columns: 260px auto 88px;
    grid-template-rows: 66px 26px;
	  grid-template-areas:
        "a b grdPhoto"
        "a b grdUser"
		;
}


.grid-template-areas-2 {
  grid-template-columns: 260px auto;
  grid-template-rows: 70px;
  grid-template-areas:
      "a b"
  ;
}

@media (max-width: 479px)
{
  .grid-template-areas-1 {
    grid-template-columns: auto auto auto 66px ;
    grid-template-rows: 60px 28px ;
    grid-template-areas:
        "a a b grdPhoto"
        "a a b grdUser"
    ;
  }

  .grdPhoto {
    text-align: center;
  }

  .grdUser {
    text-align: center;
  }

  .b {
    grid-area: b;
    text-align: left;
    align-self: center;
    padding-left: 16px;
  }

}
@media (max-width: 390px)
{
  .title{
    font-size: 21px;
  }

  .grid-template-areas-2 {
    grid-template-columns: 210px auto;
    grid-template-rows: 70px;
    grid-template-areas:
        "a b"
    ;
  }

  .grid-template-areas-1 {
    grid-template-columns: auto auto auto 66px ;
    grid-template-rows: 60px 28px ;
    grid-template-areas:
        "a a b grdPhoto"
        "a a b grdUser"
    ;
  }

  .grdPhoto {
    text-align: center;
  }

  .grdUser {
    text-align: center;
  }

  .b {
    grid-area: b;
    text-align: left;
    align-self: center;
    padding-left: 16px;
   
  }

}

.item {
  color: white;
	/* margin: 3px; */
	/* text-align: center; */
  font-size: 12px;
  
}
/* -----------Div de itens no menu , distribuição e alinhamento----- */
.tema-select{
  width: 100px;
  margin-top: 10px;
  
}  
.itens_nav{
  margin-right: 30px;
  grid-area: b;
  padding-left: 16px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
/* .itens_nav span{
  border: 1px solid red;
  } */
.mat-btn-menu{
  color: #808080;;
  border: 2px solid #808080;
  border-color: #808080;
}
.itens_nav button, .itens_nav span{
  margin: 0px 40px 0px 0px;
}
.itens_nav button:hover{
  color: #253ca1;
  border-color: #253ca1;
}
.itens_nav button:active{
  color: #253ca1;
  border-color: #253ca1;
}

.itens_nav button span{
  margin:0;
  padding: 0;
} 
/* -----fim itens do menu---- */

.title{
  color: rgb(36, 36, 36);
  font-size: 26px;
  font-weight: 600;
  letter-spacing: 4px;
  animation-name: fade;
  animation-duration: 4s;
}

@keyframes fade {
  0%   {color: rgb(255, 255, 255)}
  100%   {color: rgb(46, 46, 46)}
}

.title:hover {
  letter-spacing: 4px;
  font-weight: 700;
  /* animation: in 3s ease-out forwards infinite; */
  animation-name: fadeBlue;
  animation-duration: 3s;
  cursor: pointer;
}

@keyframes fadeBlue {
  0%   {
    transform: translate(0);
    color: rgb(255, 255, 255)
  }
  100%   {color: rgb(74, 22, 196)}
}

.circleImg{
  border-radius: 50%;
  width: 54px;
  height: 54px;
  margin-top: 5px;
}

.subTitle{
  color: rgb(36, 36, 36);
  font-size: 20px;
  font-weight: 500;
  padding-right: 30px;
}

.right {
	text-align: right;
}

.left {
  margin-left: 12px;
	text-align: left;
}

.grid {
	max-width: 1254px;
	margin: 0 auto;
}

.nav{
  box-shadow: 0 0 1em rgba(46, 46, 46, 0.534);
  background-color: rgb(255, 255, 255);
  height: 85px;
}

.buttons span{
  padding-left: 2px;
}

.buttons:hover span{
  /* color:#00FFFF */
  /* color:#FFF8DC */
  /* color:#FFD700 */
  /* color:#FFFACD */
  /* color:#87CEFA */
  /* color:#48D1CC */
  color:#00FA9A;
  margin-left: 2px;
}

.usName:hover{
  color:rgb(76, 45, 117);
  cursor: pointer;
  font-weight: 500;
  /* letter-spacing: 1px; */
}

.usName{
  color:rgb(82, 45, 117);
  cursor: pointer;
}


@media (max-width: 479px)
{
  .title{
    font-size: 21px;
    letter-spacing: 2px;
  }

  .grid-template-areas-1 {
    grid-template-columns: auto auto auto 66px ;
    grid-template-rows: 60px 28px ;
    grid-template-areas:
        "a a b grdPhoto"
        "a a b grdUser"
    ;
  }

  .grdPhoto {
    text-align: center;
  }

  .grdUser {
    text-align: center;
  }

  .b {
    grid-area: b;
    text-align: right;
    align-self: center;
    padding-left: 16px;
  }

  .subTitle{
    color: rgb(36, 36, 36);
    font-size: 19px;
    font-weight: 500;
    padding-right: 0px;
  }

}
@media (max-width: 390px)
{
  .title{
    font-size: 21px;
    letter-spacing: 2px;
  }

  .grid-template-areas-2 {
    grid-template-columns: 210px auto;
    grid-template-rows: 70px;
    grid-template-areas:
        "a b"
    ;
  }

  .grid-template-areas-1 {
    grid-template-columns: auto auto auto 66px ;
    grid-template-rows: 60px 28px ;
    grid-template-areas:
        "a a b grdPhoto"
        "a a b grdUser"
    ;
  }
  .b {
    text-align: right;
  }

  .subTitle{
    color: rgb(36, 36, 36);
    font-size: 19px;
    font-weight: 500;
    padding-right: 0px;
    letter-spacing: 1px;
  }

}

.link-1{
  cursor: pointer;
}

.link-1:hover{
  cursor: pointer;
  letter-spacing: 1px;
  color:rgb(82, 45, 117);
}


.example-panel-red.mat-select-panel {
  background: rgba(255, 0, 0, 0.5);
}

.example-panel-green.mat-select-panel {
  background: rgba(0, 255, 0, 0.5);
}

.example-panel-blue.mat-select-panel {
  background: rgba(0, 0, 255, 0.5);
}

@media(max-width:732px){
  .item-full-screen{
    display:none;
  }
  .item-minimal-screen{
    width: 70%;
  }
  .nav-mobile-perfil{
    display: grid;
    text-align: -webkit-center;
    height: 100px;
    margin-bottom: 20px;
   
  }
  .foto-perfil-mob{
    height: 50px;
    width: 50px;
    border:blue 2px solid;
    border-radius: 50%;
  }
.usName{
  font-weight: 500;
}
.mat-btn-menu-mob{
  color: #808080;;
  font-size: 20px;
  margin: 5px 0 5px 0;
}
}
@media(min-width:732px){
  .item-minimal-screen{
    display:none;
  }
}
.grdPhoto-minimal-screen{
  margin-top:37%;
}

.grdPhoto-minimal-screen{
  margin-top:37%;
}
.menu {
  text-align: center;
 
}

.menu div{
  margin-top: 13px;
  margin-right: 5px;
  margin-left: 5px;
}
.menu button{
  max-width: none;
  width: 100%;
}
.menu a{
  max-width: none;
  width: 100%;
}
.foto-perfil-mob{
  height: 50px;
  width: 50px;
  border:blue 2px solid;
}
.nav-mobile-interacao{
  
  text-align-last: start;
}
.nav-mobile-interacao .tema-select{
  width: 100%;
}