<div class="grid-container">
    <div class="">
        <div style="text-align: center;">
            <img [src]="logoBfd" class="logo" />
        </div>
        <div>
            <p>Para se realizar um sonho é preciso busca-lo!</p>
            <p>O Trilha Sonho ajuda você nessa busca!</p>
        </div>
        <div>
            <p>Registre um sonho, receba apoio para trilhar o caminho, busque ajuda para realizar e ajude outras pessoas a atingirem também seus objetivos.</p>
        </div>
        <div>
            <p>"Os sonhos existem para tornarem-se realidade."</p>
            <p class="reference">Walt Disney</p>
        </div>
    </div>
    <div>
     <app-autenticate (authEvent)="EventAuthEvent($event)" ></app-autenticate>
    </div>
</div>