
  @media (min-width: 768px) {
    .container {
      width: 750px;
    }
  }
  @media (min-width: 992px) {
    .container {
      width: 970px;
    }
  }
  @media (min-width: 1200px) {
    .container {
      width: 1170px;
    }
  }
  .grid-container {
    display: grid;
    grid-template-areas: 'myArea myArea';
    grid-gap: 10px;
    padding: 10px;
    margin-left: 5%;
  }

  .item-1 > p{
    margin-top:12px;
    font-weight: bold;
    font-size: 20px;
  }
  .logo{
    width: 26%;
  }
  .reference{   
    font-style: italic;
    color:#3f51b5;
  }
 
  .text-1 > p{
    line-height: 1.0!important;
  }
  .autenticate{
    text-align: center;
    margin-top: 5%;
  }

  @media(max-width:1113px){
    .grid-container > div> div > p{
      font-size: 13px;
    }    
    .text-1 > p{
      line-height: 1.5!important;
    }
  }
  @media(max-width:659px){
    .grid-container {
      display: inline;
      text-align: center;
    }    
  }

  @media(max-height:732px){
    .mat-dialog-container{
      padding-top: 0px!important;
    }
    .grid-container > div> div > p{
      line-height: 1.0!important;
    }
  }
 