.mtoolbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  background-color: #1976d2;
  color: white;
  font-weight: 600;
}

.logo{
  height: 102px;
  margin-top: 20px;
}

.divtitle{
  width: 200px;
  /* display: inline; */
}

p{
  margin: 0px;
  padding: 0px;
  display: inline;
}

.inline{
  display: inline;
}

.button{
  padding: 6px 20px;
  border-radius: 10px;
}

.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.rightNav{
  margin: auto 0px;
  float: right;
}

.boxUser{
  /* display: inline; */
  width: 80px;
  height: 60px;
}

.grid {
	display: grid;
}

.a {
	grid-area: a;
  align-self: center;
  padding-left: 16px;
}

.b {
	grid-area: b;
  text-align: right;
  align-self: center;
  padding-right: 16px;
}

.grdPhoto {
  grid-area: grdPhoto;
  text-align: center;
}

.grdUser {
  grid-area: grdUser;
  text-align: center;
}

.grid-template-areas-1 {
    grid-template-columns: 260px auto 88px;
    grid-template-rows: 66px 26px;
	  grid-template-areas:
        "a b grdPhoto"
        "a b grdUser"
		;
}


.grid-template-areas-2 {
  grid-template-columns: 260px auto;
  grid-template-rows: 70px;
  grid-template-areas:
      "a b"
  ;
}

@media (max-width: 479px)
{
  .grid-template-areas-1 {
    grid-template-columns: auto auto auto 66px ;
    grid-template-rows: 60px 28px ;
    grid-template-areas:
        "a a b grdPhoto"
        "a a b grdUser"
    ;
  }

  .grdPhoto {
    text-align: center;
  }

  .grdUser {
    text-align: center;
  }

  .b {
    grid-area: b;
    text-align: left;
    align-self: center;
    padding-left: 16px;
  }

}
@media (max-width: 390px)
{
  .title{
    font-size: 21px;
  }

  .grid-template-areas-2 {
    grid-template-columns: 210px auto;
    grid-template-rows: 70px;
    grid-template-areas:
        "a b"
    ;
  }

  .grid-template-areas-1 {
    grid-template-columns: auto auto auto 66px ;
    grid-template-rows: 60px 28px ;
    grid-template-areas:
        "a a b grdPhoto"
        "a a b grdUser"
    ;
  }

  .grdPhoto {
    text-align: center;
  }

  .grdUser {
    text-align: center;
  }

  .b {
    grid-area: b;
    text-align: left;
    align-self: center;
    padding-left: 16px;
  }

}

.item {
  color: white;
	/* margin: 3px; */
	/* text-align: center; */
  font-size: 12px;
}

.title{
  color: rgb(36, 36, 36);
  font-size: 26px;
  font-weight: 600;
  letter-spacing: 4px;
  animation-name: fade;
  animation-duration: 4s;
}

@keyframes fade {
  0%   {color: rgb(255, 255, 255)}
  100%   {color: rgb(46, 46, 46)}
}

.title:hover {
  letter-spacing: 4px;
  font-weight: 700;
  /* animation: in 3s ease-out forwards infinite; */
  animation-name: fadeBlue;
  animation-duration: 3s;
  cursor: pointer;
}

@keyframes fadeBlue {
  0%   {
    transform: translate(0);
    color: rgb(255, 255, 255)
  }
  100%   {color: rgb(74, 22, 196)}
}

.circleImg{
  border-radius: 50%;
  width: 54px;
  height: 54px;
  margin-top: 5px;
}

.subTitle{
  color: rgb(36, 36, 36);
  font-size: 20px;
  font-weight: 500;
  padding-right: 30px;
}

.right {
	text-align: right;
}

.left {
  margin-left: 12px;
	text-align: left;
}

.grid {
	max-width: 1254px;
	margin: 0 auto;
}

.nav{
  box-shadow: 0 0 1em rgba(46, 46, 46, 0.534);
  background-color: rgb(255, 255, 255);
}

.buttons span{
  padding-left: 2px;
}

.buttons:hover span{
  /* color:#00FFFF */
  /* color:#FFF8DC */
  /* color:#FFD700 */
  /* color:#FFFACD */
  /* color:#87CEFA */
  /* color:#48D1CC */
  color:#00FA9A;
  margin-left: 2px;
}

.usName:hover{
  color:rgb(76, 45, 117);
  cursor: pointer;
  font-weight: 500;
  /* letter-spacing: 1px; */
}

.usName{
  color:rgb(82, 45, 117);
  cursor: pointer;
}


@media (max-width: 479px)
{
  .title{
    font-size: 21px;
    letter-spacing: 2px;
  }

  .grid-template-areas-1 {
    grid-template-columns: auto auto auto 66px ;
    grid-template-rows: 60px 28px ;
    grid-template-areas:
        "a a b grdPhoto"
        "a a b grdUser"
    ;
  }

  .grdPhoto {
    text-align: center;
  }

  .grdUser {
    text-align: center;
  }

  .b {
    grid-area: b;
    text-align: right;
    align-self: center;
    padding-left: 16px;
  }

  .subTitle{
    color: rgb(36, 36, 36);
    font-size: 19px;
    font-weight: 500;
    padding-right: 0px;
  }

}
@media (max-width: 390px)
{
  .title{
    font-size: 21px;
    letter-spacing: 2px;
  }

  .grid-template-areas-2 {
    grid-template-columns: 210px auto;
    grid-template-rows: 70px;
    grid-template-areas:
        "a b"
    ;
  }

  .grid-template-areas-1 {
    grid-template-columns: auto auto auto 66px ;
    grid-template-rows: 60px 28px ;
    grid-template-areas:
        "a a b grdPhoto"
        "a a b grdUser"
    ;
  }
  .b {
    text-align: right;
  }

  .subTitle{
    color: rgb(36, 36, 36);
    font-size: 19px;
    font-weight: 500;
    padding-right: 0px;
    letter-spacing: 1px;
  }

}

.link-1{
  cursor: pointer;
}

.link-1:hover{
  cursor: pointer;
  letter-spacing: 1px;
  color:rgb(82, 45, 117);
}


.example-panel-red.mat-select-panel {
  background: rgba(255, 0, 0, 0.5);
}

.example-panel-green.mat-select-panel {
  background: rgba(0, 255, 0, 0.5);
}

.example-panel-blue.mat-select-panel {
  background: rgba(0, 0, 255, 0.5);
}

@media(max-width:732px){
  .item-teste{
    display:none;
  }
}
@media(min-width:732px){
  .item-outro-teste{
    display:none;
  }
}