<div class="nav">
  <section class="grid grid-template-areas-2" *ngIf="!isLogged; else logged">
    <div class="item a left">
      <span class="mt title" (click)="IrParaHome()">{{title}}</span>
    </div>
    <div class="item right b">
        <span class="mt">
        <button mat-flat-button color="primary" (click)="Logar()" class="buttons">
          Sign-in
            <span>
              <i class="fa fa-sign-in"></i>
            </span>
          </button>
        </span>
      </div>
    </section>

  <ng-template #logged>
    <section class="grid grid-template-areas-1">
      <div class="item a left">
        <span class="mt title" (click)="IrParaHome()">{{title}}</span>
      </div>
      <div class="item b">
        <span class="mt subTitle link-1" (click)="IrParaMeusSonhos();">
          Meus Sonhos</span>
      </div>
      <div class="item grdPhoto">
          <img [src]="user.photo"
               class="circleImg"
               (click)="IrParaHome()"
               matTooltip="Deslogar?"
               [matTooltipShowDelay]="showDelay.value"
               [matTooltipHideDelay]="hideDelay.value" (click)="logOff()">
      </div>
      <div class="item grdUser">
        <span class="usName" matTooltip="Deslogar?"
                            [matTooltipShowDelay]="showDelay.value"
                            [matTooltipHideDelay]="hideDelay.value" (click)="logOff()">
          {{user.name}}
        </span>
      </div>
    </section>
  </ng-template>

</div>

<div class="mtoolbar" role="banner" style="display: none;">

  <div class="container">
      <div class="divtitle vertical-center">
        <p class="title">{{title}}</p>
      </div>

      <div class="rightNav">
        <div class="divtitle vertical-center">
          <button mat-flat-button color="primary" *ngIf="isLogged; else logged" (click)="Logar()">
            Sign-in <i class="fa fa-sign-in"></i>
          </button>
        </div>

        <ng-template #logged>

          <!-- <div class="divtitle vertical-center">
            <p class="title">Meus sonhos</p>
          </div> -->

          <div class="">
            <div class="">
              <img width="40"
                   alt="Angular Logo"
                   src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg=="
                   (click)="toggleLogged()"
              />
            </div>
            <div class="">
              <p>{{user.name}}</p>
            </div>
          </div>

        </ng-template>

      </div>

    </div>

  </div>
