<div class="nav">
  <section class="grid grid-template-areas-2" *ngIf="!isLogged; else logged">
    <div class="item a left">
      <img class="logo" [src]="logoBfd" (click)="IrParaHome()"/>
      <a href="https://forms.gle/A3afNJSrLFxCNRh78" target="_blank" class="byttons" mat-flat-button color="secundary">
        Feedback
        <span>
          <i class="fa fa-commenting-o" aria-hidden="true"></i>
        </span>
      </a>
    </div>
    <div class="item right b">
        <span class="mt">
        <button mat-flat-button color="primary" (click)="Logar()" class="buttons">
          Sign-in
            <span>
              <i class="fa fa-sign-in"></i>
            </span>
          </button>
        </span>
      </div>
    </section>

  <ng-template #logged>
    <section class="grid grid-template-areas-1">
      <div class="item a left">
        <img class="logo" [src]="logoBfd" (click)="IrParaHome()"/>
        <a href="https://forms.gle/A3afNJSrLFxCNRh78" target="_blank" class="byttons"  mat-flat-button color="secundary">
          Feedback
          <span>
            <i class="fa fa-commenting-o" aria-hidden="true"></i>
          </span>
        </a>
    
      </div>
      <div class="item c left ">
        <a href="https://forms.gle/A3afNJSrLFxCNRh78" target="_blank" class="byttons"  mat-flat-button color="secundary">
          teste
          <span>
            <i class="fa fa-commenting-o" aria-hidden="true"></i>
          </span>
        </a>
      </div>
      <div class="item b">
        <span class="subTitle link-1" (click)="IrParaMeusSonhos();">
          Meus Sonhos</span>
      </div>
      <div class="item grdPhoto">
          <img [src]="user.photo"
               class="circleImg"
               (click)="IrParaHome()"
               matTooltip="Deslogar?"
               [matTooltipShowDelay]="showDelay.value"
               [matTooltipHideDelay]="hideDelay.value" (click)="logOff()">
      </div>
      <div class="item grdUser">
        <span class="usName" matTooltip="Deslogar?"
                            [matTooltipShowDelay]="showDelay.value"
                            [matTooltipHideDelay]="hideDelay.value" (click)="logOff()">
          {{user.name}}
        </span>
      </div>
    </section>
  </ng-template>
</div>


