<div class="dreams-wall">
  <div class="contain" >
    <div class="item-" *ngFor="let sonho of this.listDreams; let i = index" id="{{i}}" >
        <div  [ngClass]="{'descricao-sonho-destaque':sonho.id==idSonhoDestaque, 'descricaoSonho':sonho.id!=idSonhoDestaque}">
          <div style="display: grid;">
            <div (click)="exibirSonho(sonho)" >
              <p>
                {{LimitarTexto(sonho)}}
              </p>
            </div>
           
            <div style="display: grid; grid-template-columns: auto auto; margin-bottom: 1px;">
              <div *ngIf="ehRealizado(sonho)">
                <p class="nome status">
                  <i class="fa fa-check" style="color: #beff40;"></i>
                  realizado!
                </p>
              </div>
              <div *ngIf="ehPrivado(sonho)">
                <p class="nome status">
                  <i class="fa fa-lock" style="color: #ff9a33;" aria-hidden="true"></i>
                  <!-- <i class="fa fa-eye" style="color: #ffc340;" aria-hidden="true"></i> -->
                  privado
                </p>
              </div>
            </div>

            <div *ngIf="ehMeuSonho">
              <p class="nome status" (click)='Editar(sonho)'>
                <i class="fa fa-pencil" style="color: rgb(252, 206, 57);">
                  <span style="color: rgb(202, 202, 202);"> editar</span>
                </i>
              </p>
              <p class="nome status" (click)='Apagar(sonho)'>
                <i class="fa fa-times" style="color: rgb(245, 77, 85);">
                  <span style="color: rgb(202, 202, 202);"> apagar</span>
                </i>
              </p>
            </div>

         </div>
        </div>
      </div>
      <div class="item-">
        <div class="descricaoSonho">
          <div style="display: grid;">
            <p (click)="EmitterAdd()" class="btAddDream rad"><mat-icon>add</mat-icon></p>
          </div>
        </div>
      </div>
  </div>
</div>

