.extrabold{
  font-weight: 520;
}

.buttons{
  width: 100%;
  margin-top: 10px;
}



.link:hover{
  color: midnightblue;
  /* font-weight: 500; letter-spacing:0.5px; */
  font-size: 12px;
  cursor: pointer;
}

.link{
  color: dimgray;
  font-size: 12px;
}

.center{
  width: auto;
}

.fullWidth{
  width: 100%;
}

.iconRightButton{
  padding-right: 2px;
}

.buttons:hover span{
  /* color:#00FFFF */
  /* color:#FFF8DC */
  /* color:#FFD700 */
  /* color:#FFFACD */
  /* color:#87CEFA */
  /* color:#48D1CC */
  color:#00FA9A;
  margin-right: 2px;
}

.inline{
  display: inline-block;
}

.titleRegister{
  padding-left: 10px;
}



